<% provide(:title, 'Skipping Stones | Home') %>
<!-- Logo -->
<div class="row bottom-large-spacer top-large-spacer">
    <div class="span12 center">
        <%= image_tag("skipping-stones.png") %>
    </div>
</div>

<!-- Social -->
<!-- Desktop -->
<div class="row bottom-large-spacer hidden-phone">
    <div class="span12 center">
        <div class="row">
            <div class="span4">
                <%= image_tag("twitter.png") %>
            </div>
            <div class="span4">
                <%= image_tag("ko-op.png") %>
            </div>
            <div class="span4">
                <%= image_tag("fb.png") %>
            </div>
        </div>
    </div>
</div>

<!-- Phone -->
<div class="row bottom-large-spacer visible-phone">
    <div class="span12 center">
        <%= image_tag("twitter.png", :width=>"35px") %>
        <%= image_tag("ko-op.png", :width=>"35px", :style=>"margin-left:60px;margin-right:60px") %>
        <%= image_tag("fb.png", :width=>"35px") %>
    </div>
</div>


<!-- Stones -->
<!-- Desktop -->
<div class="row hidden-phone">
    <div class="span12 center">
        <%= image_tag("Slice-1.png") %>
        <%= image_tag("Slice-2.png") %>
        <%= image_tag("Slice-3.png") %>
        <%= image_tag("Slice-4.png") %>
        <%= image_tag("Slice-5.png") %>
    </div>
</div>
<div class="row hidden-phone">
    <div class="span12 center">
        <%= image_tag("Slice-6.png") %>
        <%= image_tag("Slice-7.png") %>
        <%= image_tag("Slice-8.png") %>
        <%= image_tag("Slice-9.png") %>
        <%= image_tag("Slice-10.png") %>
    </div>
</div>
<div class="row hidden-phone bottom-med-spacer">
    <div class="span12 center">
        <%= image_tag("Slice-11.png") %>
        <%= image_tag("Slice-12.png") %>
        <%= image_tag("Slice-13.png") %>
        <%= image_tag("Slice-14.png") %>
        <%= image_tag("Slice-15.png") %>
    </div>
</div>

<!-- Phone -->
<div class="row visible-phone">
    <div class="span7 center">
        <%= image_tag("Slice-1.png", :width=>"50px") %>
        <%= image_tag("Slice-2.png", :width=>"50px") %>
        <%= image_tag("Slice-3.png", :width=>"50px") %>
        <%= image_tag("Slice-4.png", :width=>"50px") %>
        <%= image_tag("Slice-5.png", :width=>"50px") %>
    </div>
</div>
<div class="row visible-phone">
    <div class="span7 center">
        <%= image_tag("Slice-6.png", :width=>"50px") %>
        <%= image_tag("Slice-7.png", :width=>"50px") %>
        <%= image_tag("Slice-8.png", :width=>"50px") %>
        <%= image_tag("Slice-9.png", :width=>"50px") %>
        <%= image_tag("Slice-10.png", :width=>"50px") %>
    </div>
</div>
<div class="row visible-phone bottom-med-spacer">
    <div class="span7 center">
        <%= image_tag("Slice-11.png", :width=>"50px") %>
        <%= image_tag("Slice-12.png", :width=>"50px") %>
        <%= image_tag("Slice-13.png", :width=>"50px") %>
        <%= image_tag("Slice-14.png", :width=>"50px") %>
        <%= image_tag("Slice-15.png", :width=>"50px") %>
    </div>
</div>



<!-- Text -->
<div class-"row">
    <div class="span10 offset1">
        <p>Skipping Stones is an experimental sound and poetry toy. Players throw stones across a lake and create musical harmonies with each skip of the stone. The game is a study of self reflection, and emotion through turbulent times. Coming soon to iOS.</p>
        <p>Sound composition by Mars Module. Click below to listen to the Skipping Stones EP.</p>
    </div>
</div>

<!-- Mars Module -->
<div class="row">
    <div class="span12">
        <%= image_tag("mars-module.png") %>
    </div>
</div>

