<% provide(:title, 'Skipping Stones | Home') %>
<!-- Logo -->
<div class="row bottom-large-spacer top-large-spacer">
    <div class="span12 center">
        <%= image_tag("skipping-stones.png") %>
    </div>
</div>

<!-- Social -->
<!-- Desktop -->
<div class="row bottom-large-spacer hidden-phone">
    <div class="span12 center">
        <div class="row">
            <div class="span4">
                <%= image_tag("twitter.png") %>
            </div>
            <div class="span4">
                <%= image_tag("ko-op.png") %>
            </div>
            <div class="span4">
                <%= image_tag("fb.png") %>
            </div>
        </div>
    </div>
</div>

<!-- Phone -->
<div class="row bottom-large-spacer visible-phone">
    <div class="span12 center">
        <%= image_tag("twitter.png", :width=>"35px") %>
        <%= image_tag("ko-op.png", :width=>"35px", :style=>"margin-left:60px;margin-right:60px") %>
        <%= image_tag("fb.png", :width=>"35px") %>
    </div>
</div>


<!-- Stones -->
<!-- Desktop -->
<div id="stones">
<div class="row hidden-phone">
    <div class="span12 center">
        <%= image_tag("Slice-1.png", :"data-sound"=>"sound1", :class=>"stone") %>
        <%= image_tag("Slice-2.png", :"data-sound"=>"sound2", :class=>"stone") %>
        <%= image_tag("Slice-3.png", :"data-sound"=>"sound3", :class=>"stone") %>
        <%= image_tag("Slice-4.png", :"data-sound"=>"sound4", :class=>"stone") %>
        <%= image_tag("Slice-5.png", :"data-sound"=>"sound5", :class=>"stone") %>
    </div>
</div>
<div class="row hidden-phone">
    <div class="span12 center">
        <%= image_tag("Slice-6.png",  :"data-sound"=>"sound6",  :class=>"stone") %>
        <%= image_tag("Slice-7.png",  :"data-sound"=>"sound7",  :class=>"stone") %>
        <%= image_tag("Slice-8.png",  :"data-sound"=>"sound8",  :class=>"stone") %>
        <%= image_tag("Slice-9.png",  :"data-sound"=>"sound9",  :class=>"stone") %>
        <%= image_tag("Slice-10.png", :"data-sound"=>"sound10", :class=>"stone") %>
    </div>
</div>
<div class="row hidden-phone bottom-med-spacer">
    <div class="span12 center">
        <%= image_tag("Slice-11.png", :"data-sound"=>"sound11", :class=>"stone") %>
        <%= image_tag("Slice-12.png", :"data-sound"=>"sound12", :class=>"stone") %>
        <%= image_tag("Slice-13.png", :"data-sound"=>"sound13", :class=>"stone") %>
        <%= image_tag("Slice-14.png", :"data-sound"=>"sound14", :class=>"stone") %>
        <%= image_tag("Slice-15.png", :"data-sound"=>"sound15", :class=>"stone") %>
    </div>
</div>

<!-- Phone -->
<div class="row visible-phone">
    <div class="span7 center">
        <%= image_tag("Slice-1.png", :width=>"50px", :"data-sound"=>"sound1", :class=>"stone") %>
        <%= image_tag("Slice-2.png", :width=>"50px", :"data-sound"=>"sound2", :class=>"stone") %>
        <%= image_tag("Slice-3.png", :width=>"50px", :"data-sound"=>"sound3", :class=>"stone") %>
        <%= image_tag("Slice-4.png", :width=>"50px", :"data-sound"=>"sound4", :class=>"stone") %>
        <%= image_tag("Slice-5.png", :width=>"50px", :"data-sound"=>"sound5", :class=>"stone") %>
    </div>
</div>
<div class="row visible-phone">
    <div class="span7 center">
        <%= image_tag("Slice-6.png", :width=>"50px",  :"data-sound"=>"sound6",  :class=>"stone") %>
        <%= image_tag("Slice-7.png", :width=>"50px",  :"data-sound"=>"sound7",  :class=>"stone") %>
        <%= image_tag("Slice-8.png", :width=>"50px",  :"data-sound"=>"sound8",  :class=>"stone") %>
        <%= image_tag("Slice-9.png", :width=>"50px",  :"data-sound"=>"sound9",  :class=>"stone") %>
        <%= image_tag("Slice-10.png", :width=>"50px", :"data-sound"=>"sound10", :class=>"stone") %>
    </div>
</div>
<div class="row visible-phone bottom-med-spacer">
    <div class="span7 center">
        <%= image_tag("Slice-11.png", :width=>"50px", :"data-sound"=>"sound11", :class=>"stone") %>
        <%= image_tag("Slice-12.png", :width=>"50px", :"data-sound"=>"sound12", :class=>"stone") %>
        <%= image_tag("Slice-13.png", :width=>"50px", :"data-sound"=>"sound13", :class=>"stone") %>
        <%= image_tag("Slice-14.png", :width=>"50px", :"data-sound"=>"sound14", :class=>"stone") %>
        <%= image_tag("Slice-15.png", :width=>"50px", :"data-sound"=>"sound15", :class=>"stone") %>
    </div>
</div>
</div>


<!-- Text -->
<div class-"row">
    <div class="span10 offset1">
        <p>Skipping Stones is an experimental sound and poetry toy. Players throw stones across a lake and create musical harmonies with each skip of the stone. The game is a study of self reflection, and emotion through turbulent times. Coming soon to iOS.</p>
        <p>Sound composition by Mars Module. Click below to listen to the Skipping Stones EP.</p>
    </div>
</div>

<!-- Mars Module -->
<div class="row">
    <div class="span12">
        <%= image_tag("mars-module.png") %>
    </div>
</div>

<div id="audio">
    <audio id="sound1">
        <source src="/assets/sound1.mp3" type="audio/mp3">
        <source src="/assets/sound1.ogg" type="audio/ogg">
    </audio>
    <audio id="sound2">
        <source src="/assets/sound2.mp3" type="audio/mp3">
        <source src="/assets/sound2.ogg" type="audio/ogg">
    </audio>
    <audio id="sound3">
        <source src="/assets/sound3.mp3" type="audio/mp3">
        <source src="/assets/sound3.ogg" type="audio/ogg">
    </audio>
    <audio id="sound4">
        <source src="/assets/sound4.mp3" type="audio/mp3">
        <source src="/assets/sound4.ogg" type="audio/ogg">
    </audio>
    <audio id="sound5">
        <source src="/assets/sound5.mp3" type="audio/mp3">
        <source src="/assets/sound5.ogg" type="audio/ogg">
    </audio>
    <audio id="sound6">
        <source src="/assets/sound6.mp3" type="audio/mp3">
        <source src="/assets/sound6.ogg" type="audio/ogg">
    </audio>
    <audio id="sound7">
        <source src="/assets/sound7.mp3" type="audio/mp3">
        <source src="/assets/sound7.ogg" type="audio/ogg">
    </audio>
    <audio id="sound8">
        <source src="/assets/sound8.mp3" type="audio/mp3">
        <source src="/assets/sound8.ogg" type="audio/ogg">
    </audio>
    <audio id="sound9">
        <source src="/assets/sound9.mp3" type="audio/mp3">
        <source src="/assets/sound9.ogg" type="audio/ogg">
    </audio>
    <audio id="sound10">
        <source src="/assets/sound10.mp3" type="audio/mp3">
        <source src="/assets/sound10.ogg" type="audio/ogg">
    </audio>
    <audio id="sound11">
        <source src="/assets/sound11.mp3" type="audio/mp3">
        <source src="/assets/sound11.ogg" type="audio/ogg">
    </audio>
    <audio id="sound12">
        <source src="/assets/sound12.mp3" type="audio/mp3">
        <source src="/assets/sound12.ogg" type="audio/ogg">
    </audio>
    <audio id="sound13">
        <source src="/assets/sound13.mp3" type="audio/mp3">
        <source src="/assets/sound13.ogg" type="audio/ogg">
    </audio>
    <audio id="sound14">
        <source src="/assets/sound14.mp3" type="audio/mp3">
        <source src="/assets/sound14.ogg" type="audio/ogg">
    </audio>
    <audio id="sound15">
        <source src="/assets/sound15.mp3" type="audio/mp3">
        <source src="/assets/sound15.ogg" type="audio/ogg">
    </audio>
</div>
